<%- include('partials/header') -%>

<% var user; %>
<% user = user || {id: undefined} %>

<main>
  <div>
    <div>
      <div>
        <h2 class="span"><%= post.title %> <span class="author">Posted by <a href="/profile/<%= author._id %>"><%= author.userName %></a></span></h2>
  <!-- EDIT POST -->
  <%if(post.user == user.id && post.type == 'OriginalRecipe'){ %>
    <a class="editButton" href="/post/edit/<%= post.id %>"><i class="btn btn-primary fa-solid fa-pen-to-square"></i></a>
    <%} else if (post.user == user.id && post.type == 'LinkedRecipe') {%>
    <a class="editButton" href="/post/edit/<%= post.id %>"><i class="btn btn-primary fa-solid fa-pen-to-square"></i></a>
    <% } %>
<!-- DELETE -->
    <%if(post.user == user.id && post.type == 'OriginalRecipe'){ %>
    <form
    class="clearButton"
      action="/post/deletePost/<%= post.id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit"><i class="fa fa-trash"></i></button>
    </form>
    <%} else if (post.user == user.id && post.type == 'LinkedRecipe')  {%>
    <form
    class="clearButton"
    action="/post/deletePostWithLink/<%= post.id %>?_method=DELETE"
    method="POST"
    >
    <button type="submit"><i class="fa fa-trash"></i></button>
    </form>
    <% } %>
</div>
</div>
<!-- RECIPE -->
<% if (post.type == 'OriginalRecipe') { %>
            <h3>Ingredients</h3>
            <pre><%= post.ingredients %></pre>
            <h3>Instructions</h3>
            <pre><%= post.instructions %></pre>
          <% } else { %>
  <!-- OR LINKED RECIPE -->
            <p><a href="<%= post.link %>" target="_blank">click link for recipe</a></p>
          <% } %>
  <div class="actionButtons">
  <!-- SAVED -->
        <div>
          <% if (!(post.user == user.id)) { %>
            <% if (saved.length === 0) {%>
            <form
              action="/post/savePost/<%= post.id %>"
              method="POST"
            >
              <button class="btn btn-primary fa-regular fa-bookmark" type="submit"></button>
            </form>
            <% } else { %>
              <form
              action="/post/unsavePost/<%= post.id %>?_method=DELETE"
              method="POST"
            >
              <button class="btn btn-primary fa-solid fa-bookmark" type="submit"></button>
            </form>
            <% } %>
          <% } %>
  
  <!-- LIKE -->
            <form
              class="col-1"
              action="/post/likePost/<%= post.id %>?_method=PUT"
              method="POST"
            >
              <button class="btn btn-primary fa fa-heart" type="submit"></button>
            </form>
  
          <h3 class="col-3">Likes: <%= post.likes %></h3>
  

    </div>
  </div>

      <!-- COMMENTS -->
      <div class="mt-5">
  
        <ul class="row list-unstyled">
          <% for(var i=0; i<comments.length; i++) {%>
            <li>
              <div class="actionButtons">
              <%= comments[i].comment%>

              <a class="editButton" href="/comments/edit/<%= comments[i]._id %>"><i class="fa-solid fa-pen-to-square"></i></a>
              <form
              action="/comments/deleteComment/<%= comments[i]._id %>?_method=DELETE"
              method="POST"
              class="col-3"
              >
                <button class="btn btn-primary fa fa-trash" type="submit"></button>
              </form>
            </div>
            </li>
          <% } %>
          </ul>
    
        <h2>Add a note</h2>
        <form action="/comments/createComment/<%=post.id%>" enctype="application/x-www-form-urlencoded" method="POST">
          <div class="mb-3">
            <label for="comment"></label>
            <input type="text" id="comment" name="comment"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  
  </div>
</main>

<%- include('partials/footer') -%>
